<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>Login</title> <!-- or Login -->
  <link rel="stylesheet" href="/css/form-style.css" />
</head>
<body>
  <form method="POST" action="/login"> <!-- or /login -->
    <h1 style="color:lightcyan;text-align: center;">SANZA MOVIES</h1>
    <h2>login</h2> <!-- or Login -->
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">login</button> <!-- or Login -->
    <a href="/login">Already have an account? Log In</a> <!-- or /signup -->
  </form>
</body>
</html>
